.Rproj.user
.Rhistory
.RData
.Ruserdata

README.html
Ir-on-Ag-on-silca/*.html

gnuplot/*.html

penepma/*.html

penepma/penepma16/20-nm-C-250-nm-ZnO-Silica-15kV/*.html
penepma/penepma16/20-nm-C-250-nm-ZnO-Silica-15kV/*.msa
penepma/penepma16/20-nm-C-250-nm-ZnO-Silica-15kV/*.rda

penepma/penepma16/amC-bulk-15kV/*.html
penepma/penepma16/amC-bulk-15kV/*.msa
penepma/penepma16/amC-bulk-15kV/*.rda


dtsa2/*.html

C-ctd-ZnO-on-EagleXG-glass/dtsa2/spc/*.ps
C-ctd-ZnO-on-EagleXG-glass/*.html

